@font-face {
  font-family: kufiFontBold;
  src: url(../Droid\ Arabic\ Kufi\ Bold.ttf);
}
@font-face {
  font-family: kufiFontRegular;
  src: url(../Droid\ Arabic\ Kufi\ Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  direction: rtl;
  font-family: var(--kufiFontBold);
  scroll-behavior: smooth;
}

:root {
  --main-color: #582c82;
  --section-color: #ff7043;
  --kufiFontBold: "kufiFontBold";
  --kufiFontRegular: "kufiFontRegular";
}

.landing-page {
  position: fixed;
  width: 100%;
  z-index: 999999;
}

.wave {
  position: absolute;
  background-image: url(../images/Wave-10s-1319px-18.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.landing-page #logo {
  width: 200px;
}
.landing-page a {
  color: white;
  margin-left: 15px;
  font-size: 13px;
}
.landing-page a:hover {
  color: white;
}
header i {
  font-size: 10px;
}

.spacing-home {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: -1;
}

.slid {
  background-color: #fff;
  position: absolute;
  left: 50%;
  width: 13%;
  text-align: center;
}
.slid a {
  color: #000 !important;
}
.slid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--section-color);
}
.sticky {
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
}
.sticky a {
  color: black;
  transition: 0.3s;
}
.sticky li.active a {
  color: var(--section-color);
}
.sticky a:hover {
  color: var(--section-color) !important;
}

.main {
  height: calc(100vh - 77px);
}

.main a:hover {
  color: white;
  border-color: var(--main-color) !important;
}
.main p {
  font-family: var(--kufiFontRegular);
}
.main p:not(:first-child) {
  color: #444;
  text-shadow: 1px 1px #fff;
}
.main p:not(:first-child)::before {
  content: url(../images/marker.png);
}

/********************************/
.who {
  background-color: var(--main-color);
  height: 500px;
  z-index: 99999999999;
}
.line {
  width: 10%;
  height: 2px;
  background-color: var(--section-color);
  display: inline-block;
}

.heading-text p {
  color: var(--section-color);
}

.heading-text p:not(:first-child) {
  color: white;
  font-family: var(--kufiFontRegular);
  font-weight: lighter;
  font-size: 17px;
  margin-top: 25px;
}

.footer-text span {
  color: var(--section-color);
  font-size: 80px;
}

.btn-srv {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.btn-srv:hover {
  background-color: var(--main-color);
}
.item-text {
  font-size: 14px;
  font-weight: bold;
}
.image-box img {
  width: 100px;
  height: 100px;
}

.our-services {
  background-image: url(../images/patterns.svg);
}
.our-services img {
  width: 100%;
}
.item {
  border-style: dashed;
  border-width: 1px;
  border-color: rgb(187, 179, 179);
  background-color: #fff;
}

.item-text p {
  color: #999;
  font-family: var(--kufiFontRegular);
  font-weight: lighter;
}
.item {
  margin-bottom: 10px;
}
/***************************************************************/
.contact-us {
  background-image: url(../images/patterns.svg);
}
.contact-us p {
  color: var(--section-color);
}
.contact-us h4 {
  font-size: 40px;
}

/**************************************************************/
.card {
  background-image: url(../images/patterns.svg);
}
.card1,
.card2,
.card3 {
  text-align: center;
  margin-bottom: 10px;
  color: white;
  flex-basis: 33%;
}
.card1 {
  background-color: #3c99d7;
}
.card2 {
  background-color: #222242;
}
.card3 {
  background-color: #582c82;
}
/***********************************************************************/
.heading {
  position: relative;
  text-align: center;
}

.heading p {
  color: var(--section-color);
  font-weight: bold;
}
.heading h4 {
  font-weight: bold;
  font-size: 30px;
}

.heading::after {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  width: 60px;
  height: 2px;
  background-color: var(--section-color);
}
.our-works {
  background-image: url(../images/اعمالنا/patterns.svg);
}
.works {
  margin-bottom: 25px;
}
.work {
  position: relative;
}
.work::after {
  content: "";
  transition: 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.work:hover::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.btn-work {
  background-color: var(--main-color);
  border-color: var(--main-color);
  font-weight: bold;
  width: 11%;
}

.btn-work:hover {
  background-color: var(--section-color);
  border-color: var(--section-color);
}
/*************************************************************************/
.details {
  background-image: linear-gradient(
    to right,
    #084163,
    #28478a,
    #34658d,
    #3e4b74
  );
}

.heading-txt {
  height: 50px;
  margin-bottom: 25px;
}
.details .heading-txt h4 {
  color: white;
  font-size: 20px;
}
.details li {
  font-family: var(--kufiFontRegular);
  margin-top: 5px;
  font-size: 14px;
}
.line-details {
  width: 100%;
  height: 1px;
  background-color: #777;
  display: block;
}

.details a {
  transition: 0.2s;
}
.details a:hover {
  color: var(--section-color) !important;
}

.details i {
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.details i:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.facebook {
  background-color: #1877f2;
}

.twitter {
  background-color: #1da1f2;
}
.linkedin {
  background-color: #0a66c2;
}
.insta {
  background-color: #e1306c;
}
.pint {
  background-color: #e60023;
}
.behance {
  background-color: #1769ff;
}

.details img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
}
/*************************************************************************/
.space {
  transform: rotate(180deg);
  position: relative;
  top: 1px;
  z-index: -1;
  background-color: #f1f2f3;
}
.space2 {
  z-index: -1;
}
.spacing {
  background-image: url(../images/patterns.svg);
  height: 50px;
  width: 100%;
  display: block;
}
/*********************************************************/
.menu-mini {
  display: none;
}
@media (max-width: 768px) {
  header {
    background-color: #fff;
  }
  .main1 {
    flex-direction: column-reverse;
    margin-bottom: 100px;
    gap: 100px;
  }
  .main {
  }
  .main p:not(:first-child) {
    text-shadow: 2px 2px #fff;
  }
  .main h2 {
    font-size: 2.5rem;
  }
  .who-are {
    flex-direction: column-reverse;
  }
  .who img {
    width: 100% !important;
  }
  .cards {
    flex-direction: column-reverse;
    width: 100% !important;
  }
  .contact-body {
    flex-direction: column-reverse;
  }
  .contact-body a {
    width: 50%;
    margin: 20px auto;
  }
  .our-works a {
    width: 35%;
  }
  header {
    display: none;
  }
  .menu-mini {
    z-index: 999;
    display: block;
    position: fixed;
  }
}
